.git
.gitignore
node_modules
dist
.astro
.output
.cache
coverage

.env
.env.*
!Docker/.env.example

Docker/.env

logs
*.log

backups
dumps
tmp
temp

*.zip
*.rar
*.7z
*.tar
*.tar.gz

.vscode
.idea
.devcontainer
Docker/devcontainer