PUBLIC_DEPLOY_ENV=preview
PUBLIC_SITE_URL=https://preview.example.net
PUBLIC_LEGAL_APPROVED=false
PUBLIC_LEGAL_NAME=Draft
PUBLIC_LEGAL_BUSINESS_NAME=IoCode SOLUTIONS
PUBLIC_LEGAL_STREET=
PUBLIC_LEGAL_POSTAL_CODE=
PUBLIC_LEGAL_CITY=Aachen
PUBLIC_LEGAL_COUNTRY=Germany
PUBLIC_LEGAL_EMAIL=contact@iocode-solutions.com
ASTRO_PREVIEW_PORT=4322
NODE_ENV=production
ASTRO_TELEMETRY_DISABLED=1
ENABLE_HSTS=false
ENABLE_COOP=false
ENABLE_UPGRADE_INSECURE_REQUESTS=false
